
.DS_Store
*.json
*.exe
.vs/CS6021/xs/project-cache/CS6021-Debug|iPhoneSimulator.json
CS6021/.DS_Store
CS6021/Assets.xcassets/.DS_Store
CS6021/Resources/.DS_Store
#CS6021/bin/.DS_Store
CS6021/bin/**
#CS6021/obj/.DS_Store
CS6021/obj/**
#CS6021/obj/iPhoneSimulator/.DS_Store
#CS6021/obj/iPhoneSimulator/Debug/.DS_Store
#CS6021/obj/iPhoneSimulator/Debug/CS6021.csproj.AssemblyReference.cache
#CS6021/obj/iPhoneSimulator/Debug/ibtool-link/.DS_Store
#CS6021/obj/iPhoneSimulator/Debug/ibtool/.DS_Store
